# Ignore API keys and environment files
api_key.txt
.env
env/

# Ignore node_modules folder
node_modules/
config/

# Ignore log files
*.log

# Ignore Python cache
__pycache__/

# Do not ignore .env.example
!.env.example